<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>enemy_1</key>
		<dict>
			<key>maxHp</key>
			<integer>300</integer>
			<key>defence</key>
			<integer>0</integer>
			<key>speed</key>
			<real>50</real>
		</dict>
	</dict>
</plist>