<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
-<plist version="1.0">
	<dict>
    <key>Template_Empty</key>
    <dict>
      <key>animpic</key>
      <array>
        <string>Some/Path_Here_00.png</string>
      </array>
      <key>animdelay</key>
      <real>0.05</real>
      <key>height</key>
      <real>55</real>
      <key>maxHp</key>
      <integer>300</integer>
      <key>defence</key>
      <integer>0</integer>
      <key>speed</key>
      <real>50</real>
      <key>money</key>
      <real>10</real>
    </dict>
    <key>Snow_Sheep</key>
    <dict>
      <key>animpic</key>
      <array>
        <string>Snow/Snow_Sheep_00.png</string>
        <string>Snow/Snow_Sheep_01.png</string>
        <string>Snow/Snow_Sheep_02.png</string>
        <string>Snow/Snow_Sheep_03.png</string>
        <string>Snow/Snow_Sheep_04.png</string>
        <string>Snow/Snow_Sheep_05.png</string>
        <string>Snow/Snow_Sheep_06.png</string>
      </array>
      <key>animdelay</key>
      <real>0.05</real>
      <key>height</key>
      <real>55</real>
      <key>maxHp</key>
      <integer>300</integer>
      <key>defence</key>
      <integer>0</integer>
      <key>speed</key>
      <real>60</real>
      <key>money</key>
      <real>20</real>
      <key>buffs</key>
      <array>
        <dict>
          <key>time</key>
          <real>12</real>
          <key>effects</key>
          <string>1.0,1.0,1.0,1.5,0.0,0.0</string>
          <key>flag</key>
          <integer>64</integer>
        </dict>
      </array>
    </dict>
    <key>Snow_Dog</key>
    <dict>
      <key>animpic</key>
      <array>
        <string>Snow/Snow_Dog_00.png</string>
        <string>Snow/Snow_Dog_01.png</string>
        <string>Snow/Snow_Dog_02.png</string>
        <string>Snow/Snow_Dog_03.png</string>
        <string>Snow/Snow_Dog_04.png</string>
        <string>Snow/Snow_Dog_05.png</string>
        <string>Snow/Snow_Dog_06.png</string>
        <string>Snow/Snow_Dog_07.png</string>
      </array>
      <key>animdelay</key>
      <real>0.05</real>
      <key>height</key>
      <real>40</real>
      <key>maxHp</key>
      <integer>120</integer>
      <key>defence</key>
      <integer>0</integer>
      <key>speed</key>
      <real>50</real>
      <key>money</key>
      <real>20</real>
    </dict>
		<key>Snow_Men</key>
		<dict>
			<key>animpic</key>
			<array>
				<string>Snow/Snow_Men_00.png</string>
				<string>Snow/Snow_Men_01.png</string>
				<string>Snow/Snow_Men_02.png</string>
				<string>Snow/Snow_Men_03.png</string>
				<string>Snow/Snow_Men_04.png</string>
				<string>Snow/Snow_Men_05.png</string>
				<string>Snow/Snow_Men_06.png</string>
				<string>Snow/Snow_Men_07.png</string>
				<string>Snow/Snow_Men_08.png</string>
				<string>Snow/Snow_Men_09.png</string>
				<string>Snow/Snow_Men_08.png</string>
				<string>Snow/Snow_Men_07.png</string>
				<string>Snow/Snow_Men_06.png</string>
				<string>Snow/Snow_Men_05.png</string>
				<string>Snow/Snow_Men_04.png</string>
				<string>Snow/Snow_Men_03.png</string>
			</array>
			<key>animdelay</key>
			<real>0.05</real>
			<key>height</key>
			<real>55</real>
			<key>maxHp</key>
			<integer>500</integer>
			<key>defence</key>
			<integer>0</integer>
			<key>speed</key>
			<real>30</real>
      <key>money</key>
      <real>30</real>
		</dict>
		<key>Snow_Boss</key>
		<dict>
			<key>animpic</key>
			<array>
				<string>Snow/Snow_Boss_00.png</string>
				<string>Snow/Snow_Boss_01.png</string>
				<string>Snow/Snow_Boss_02.png</string>
				<string>Snow/Snow_Boss_03.png</string>
				<string>Snow/Snow_Boss_04.png</string>
				<string>Snow/Snow_Boss_05.png</string>
				<string>Snow/Snow_Boss_06.png</string>
				<string>Snow/Snow_Boss_07.png</string>
				<string>Snow/Snow_Boss_08.png</string>
				<string>Snow/Snow_Boss_09.png</string>
				<string>Snow/Snow_Boss_10.png</string>
				<string>Snow/Snow_Boss_11.png</string>
				<string>Snow/Snow_Boss_12.png</string>
				<string>Snow/Snow_Boss_13.png</string>
				<string>Snow/Snow_Boss_14.png</string>
				<string>Snow/Snow_Boss_15.png</string>
			</array>
			<key>animdelay</key>
			<real>0.05</real>
			<key>height</key>
			<real>100</real>
			<key>maxHp</key>
			<integer>1400</integer>
			<key>defence</key>
			<integer>5</integer>
			<key>speed</key>
			<real>30</real>
      <key>money</key>
      <real>50</real>
			<key>buffs</key>
			<array>
				<dict>
					<key>time</key>
					<real>120</real>
					<key>effects</key>
					<string>1.0,1.0,0.8,1.0,0.0,2.0</string>
					<key>flag</key>
					<integer>20</integer>
				</dict>
			</array>
		</dict>
		<key>Dark_Bat</key>
		<dict>
			<key>animpic</key>
			<array>
				<string>Dark/Dark_Bat_00.png</string>
				<string>Dark/Dark_Bat_01.png</string>
				<string>Dark/Dark_Bat_02.png</string>
				<string>Dark/Dark_Bat_03.png</string>
				<string>Dark/Dark_Bat_04.png</string>
				<string>Dark/Dark_Bat_05.png</string>
				<string>Dark/Dark_Bat_06.png</string>
			</array>
			<key>animdelay</key>
			<real>0.05</real>
			<key>height</key>
			<real>100</real>
			<key>maxHp</key>
			<integer>200</integer>
			<key>defence</key>
			<integer>5</integer>
			<key>speed</key>
			<real>70</real>
      <key>money</key>
      <real>20</real>
		</dict>
		<key>Dark_Bear</key>
		<dict>
			<key>animpic</key>
			<array>
				<string>Dark/Dark_Bear_00.png</string>
				<string>Dark/Dark_Bear_01.png</string>
				<string>Dark/Dark_Bear_02.png</string>
				<string>Dark/Dark_Bear_03.png</string>
				<string>Dark/Dark_Bear_04.png</string>
				<string>Dark/Dark_Bear_05.png</string>
				<string>Dark/Dark_Bear_06.png</string>
				<string>Dark/Dark_Bear_07.png</string>
				<string>Dark/Dark_Bear_08.png</string>
				<string>Dark/Dark_Bear_09.png</string>
			</array>
			<key>animdelay</key>
			<real>0.05</real>
			<key>height</key>
			<real>100</real>
			<key>maxHp</key>
			<integer>800</integer>
			<key>defence</key>
			<integer>5</integer>
			<key>speed</key>
			<real>50</real>
      <key>money</key>
      <real>30</real>
		</dict>
		<key>Dark_Boss</key>
		<dict>
			<key>animpic</key>
			<array>
				<string>Dark/Dark_Boss_00.png</string>
				<string>Dark/Dark_Boss_01.png</string>
				<string>Dark/Dark_Boss_02.png</string>
				<string>Dark/Dark_Boss_03.png</string>
				<string>Dark/Dark_Boss_04.png</string>
				<string>Dark/Dark_Boss_05.png</string>
				<string>Dark/Dark_Boss_06.png</string>
				<string>Dark/Dark_Boss_07.png</string>
				<string>Dark/Dark_Boss_08.png</string>
				<string>Dark/Dark_Boss_09.png</string>
				<string>Dark/Dark_Boss_10.png</string>
				<string>Dark/Dark_Boss_11.png</string>
				<string>Dark/Dark_Boss_12.png</string>
			</array>
			<key>animdelay</key>
			<real>0.05</real>
			<key>height</key>
			<real>100</real>
			<key>maxHp</key>
			<integer>2200</integer>
			<key>defence</key>
			<integer>5</integer>
			<key>speed</key>
			<real>50</real>
      <key>money</key>
      <real>100</real>
      <key>buffs</key>
      <array>
        <dict>
          <key>time</key>
          <real>120</real>
          <key>effects</key>
          <string>1.0,1.0,1.0,1.5,0.0,0.0</string>
          <key>flag</key>
          <integer>64</integer>
        </dict>
      </array>
		</dict>
		<key>Dark_Cat</key>
		<dict>
			<key>animpic</key>
			<array>
				<string>Dark/Dark_Cat_00.png</string>
				<string>Dark/Dark_Cat_01.png</string>
				<string>Dark/Dark_Cat_02.png</string>
				<string>Dark/Dark_Cat_03.png</string>
				<string>Dark/Dark_Cat_04.png</string>
				<string>Dark/Dark_Cat_05.png</string>
				<string>Dark/Dark_Cat_06.png</string>
			</array>
			<key>animdelay</key>
			<real>0.05</real>
			<key>height</key>
			<real>100</real>
			<key>maxHp</key>
			<integer>200</integer>
			<key>defence</key>
			<integer>5</integer>
			<key>speed</key>
			<real>50</real>
      <key>money</key>
      <real>10</real>
		</dict>
		<key>Dark_Redbat</key>
		<dict>
			<key>animpic</key>
			<array>
				<string>Dark/Dark_Redbat_00.png</string>
				<string>Dark/Dark_Redbat_01.png</string>
				<string>Dark/Dark_Redbat_02.png</string>
				<string>Dark/Dark_Redbat_03.png</string>
				<string>Dark/Dark_Redbat_04.png</string>
				<string>Dark/Dark_Redbat_05.png</string>
				<string>Dark/Dark_Redbat_06.png</string>
			</array>
			<key>animdelay</key>
			<real>0.05</real>
			<key>height</key>
			<real>100</real>
			<key>maxHp</key>
			<integer>400</integer>
			<key>defence</key>
			<integer>5</integer>
			<key>speed</key>
			<real>70</real>
      <key>money</key>
      <real>25</real>
      <key>buffs</key>
      <array>
        <dict>
          <key>time</key>
          <real>120</real>
          <key>effects</key>
          <string>1.0,1.0,1.0,1.5,0.0,0.0</string>
          <key>flag</key>
          <integer>64</integer>
        </dict>
      </array>
		</dict>
		<key>Dark_Rock</key>
		<dict>
			<key>animpic</key>
			<array>
				<string>Dark/Dark_Rock_00.png</string>
				<string>Dark/Dark_Rock_01.png</string>
				<string>Dark/Dark_Rock_02.png</string>
				<string>Dark/Dark_Rock_03.png</string>
				<string>Dark/Dark_Rock_04.png</string>
				<string>Dark/Dark_Rock_05.png</string>
				<string>Dark/Dark_Rock_06.png</string>
				<string>Dark/Dark_Rock_07.png</string>
				<string>Dark/Dark_Rock_08.png</string>
				<string>Dark/Dark_Rock_09.png</string>
				<string>Dark/Dark_Rock_10.png</string>
				<string>Dark/Dark_Rock_11.png</string>
				<string>Dark/Dark_Rock_12.png</string>
				<string>Dark/Dark_Rock_13.png</string>
				<string>Dark/Dark_Rock_14.png</string>
				<string>Dark/Dark_Rock_15.png</string>
				<string>Dark/Dark_Rock_16.png</string>
			</array>
			<key>animdelay</key>
			<real>0.05</real>
			<key>height</key>
			<real>100</real>
			<key>maxHp</key>
			<integer>1000</integer>
			<key>defence</key>
			<integer>5</integer>
			<key>speed</key>
			<real>30</real>
      <key>money</key>
      <real>35</real>
      <key>buffs</key>
      <array>
        <dict>
          <key>time</key>
          <real>120</real>
          <key>effects</key>
          <string>1.0,1.0,0.3,1.0,0.0,2.0</string>
          <key>flag</key>
          <integer>16</integer>
        </dict>
      </array>
		</dict>
		<key>Dark_Tree</key>
		<dict>
			<key>animpic</key>
			<array>
				<string>Dark/Dark_Tree_00.png</string>
				<string>Dark/Dark_Tree_01.png</string>
				<string>Dark/Dark_Tree_02.png</string>
				<string>Dark/Dark_Tree_03.png</string>
				<string>Dark/Dark_Tree_04.png</string>
				<string>Dark/Dark_Tree_05.png</string>
				<string>Dark/Dark_Tree_06.png</string>
				<string>Dark/Dark_Tree_07.png</string>
			</array>
			<key>animdelay</key>
			<real>0.05</real>
			<key>height</key>
			<real>100</real>
			<key>maxHp</key>
			<integer>1000</integer>
			<key>defence</key>
			<integer>5</integer>
			<key>speed</key>
			<real>40</real>
      <key>money</key>
      <real>35</real>
      <key>buffs</key>
      <array>
        <dict>
          <key>time</key>
          <real>120</real>
          <key>effects</key>
          <string>1.0,1.0,1.0,1.0,0.0,10.0</string>
          <key>flag</key>
          <integer>4</integer>
        </dict>
      </array>
		</dict>
    <key>Beach_Bull</key>
    <dict>
      <key>animpic</key>
      <array>
        <string>Beach/Beach_Bull_00.png</string>
        <string>Beach/Beach_Bull_01.png</string>
        <string>Beach/Beach_Bull_02.png</string>
        <string>Beach/Beach_Bull_03.png</string>
        <string>Beach/Beach_Bull_04.png</string>
        <string>Beach/Beach_Bull_05.png</string>
        <string>Beach/Beach_Bull_06.png</string>
        <string>Beach/Beach_Bull_07.png</string>
        <string>Beach/Beach_Bull_08.png</string>
        <string>Beach/Beach_Bull_09.png</string>
        <string>Beach/Beach_Bull_10.png</string>
        <string>Beach/Beach_Bull_11.png</string>
        <string>Beach/Beach_Bull_12.png</string>
        <string>Beach/Beach_Bull_13.png</string>
        <string>Beach/Beach_Bull_14.png</string>
        <string>Beach/Beach_Bull_15.png</string>
        <string>Beach/Beach_Bull_16.png</string>
        <string>Beach/Beach_Bull_17.png</string>
      </array>
      <key>animdelay</key>
      <real>0.05</real>
      <key>height</key>
      <real>80</real>
      <key>maxHp</key>
      <integer>1800</integer>
      <key>defence</key>
      <integer>0</integer>
      <key>speed</key>
      <real>50</real>
      <key>money</key>
      <real>150</real>
      <key>buffs</key>
      <array>
        <dict>
          <key>time</key>
          <real>120</real>
          <key>effects</key>
          <string>1.0,1.0,1.0,1.0,0.0,2.0</string>
          <key>flag</key>
          <integer>4</integer>
        </dict>
      </array>
    </dict>
    <key>Beach_Dun</key>
    <dict>
      <key>animpic</key>
      <array>
        <string>Beach/Beach_Dun_00.png</string>
        <string>Beach/Beach_Dun_01.png</string>
        <string>Beach/Beach_Dun_02.png</string>
        <string>Beach/Beach_Dun_03.png</string>
        <string>Beach/Beach_Dun_04.png</string>
        <string>Beach/Beach_Dun_05.png</string>
        <string>Beach/Beach_Dun_06.png</string>
        <string>Beach/Beach_Dun_07.png</string>
        <string>Beach/Beach_Dun_08.png</string>
        <string>Beach/Beach_Dun_09.png</string>
        <string>Beach/Beach_Dun_10.png</string>
        <string>Beach/Beach_Dun_11.png</string>
        <string>Beach/Beach_Dun_12.png</string>
        <string>Beach/Beach_Dun_13.png</string>
        <string>Beach/Beach_Dun_14.png</string>
        <string>Beach/Beach_Dun_15.png</string>
      </array>
      <key>animdelay</key>
      <real>0.05</real>
      <key>height</key>
      <real>55</real>
      <key>maxHp</key>
      <integer>2200</integer>
      <key>defence</key>
      <integer>15</integer>
      <key>speed</key>
      <real>50</real>
      <key>money</key>
      <real>150</real>
      <key>buffs</key>
      <array>
        <dict>
          <key>time</key>
          <real>60</real>
          <key>effects</key>
          <string>1.0,1.0,0.6,1.0,0.0,1.0</string>
          <key>flag</key>
          <integer>16</integer>
        </dict>
      </array>
    </dict>
    <key>Beach_Flymen</key>
    <dict>
      <key>animpic</key>
      <array>
        <string>Beach/Beach_Flymen_00.png</string>
        <string>Beach/Beach_Flymen_01.png</string>
        <string>Beach/Beach_Flymen_02.png</string>
        <string>Beach/Beach_Flymen_03.png</string>
        <string>Beach/Beach_Flymen_04.png</string>
        <string>Beach/Beach_Flymen_05.png</string>
        <string>Beach/Beach_Flymen_06.png</string>
        <string>Beach/Beach_Flymen_07.png</string>
      </array>
      <key>animdelay</key>
      <real>0.05</real>
      <key>height</key>
      <real>55</real>
      <key>maxHp</key>
      <integer>700</integer>
      <key>defence</key>
      <integer>0</integer>
      <key>speed</key>
      <real>90</real>
      <key>money</key>
      <real>90</real>
      <key>buffs</key>
      <array>
        <dict>
          <key>time</key>
          <real>120</real>
          <key>effects</key>
          <string>1.0,1.0,1.0,1.8,0.0,0.0</string>
          <key>flag</key>
          <integer>64</integer>
        </dict>
      </array>
    </dict>
    <key>Beach_Goblin</key>
    <dict>
      <key>animpic</key>
      <array>
        <string>Beach/Beach_Goblin_00.png</string>
        <string>Beach/Beach_Goblin_01.png</string>
        <string>Beach/Beach_Goblin_02.png</string>
        <string>Beach/Beach_Goblin_03.png</string>
        <string>Beach/Beach_Goblin_04.png</string>
        <string>Beach/Beach_Goblin_05.png</string>
        <string>Beach/Beach_Goblin_06.png</string>
        <string>Beach/Beach_Goblin_07.png</string>
        <string>Beach/Beach_Goblin_08.png</string>
        <string>Beach/Beach_Goblin_09.png</string>
        <string>Beach/Beach_Goblin_10.png</string>
        <string>Beach/Beach_Goblin_11.png</string>
      </array>
      <key>animdelay</key>
      <real>0.05</real>
      <key>height</key>
      <real>55</real>
      <key>maxHp</key>
      <integer>240</integer>
      <key>defence</key>
      <integer>0</integer>
      <key>speed</key>
      <real>50</real>
      <key>money</key>
      <real>10</real>
    </dict>
    <key>Beach_Hulk</key>
    <dict>
      <key>animpic</key>
      <array>
        <string>Beach/Beach_Hulk_00.png</string>
        <string>Beach/Beach_Hulk_01.png</string>
        <string>Beach/Beach_Hulk_02.png</string>
        <string>Beach/Beach_Hulk_03.png</string>
        <string>Beach/Beach_Hulk_04.png</string>
        <string>Beach/Beach_Hulk_05.png</string>
        <string>Beach/Beach_Hulk_06.png</string>
        <string>Beach/Beach_Hulk_07.png</string>
        <string>Beach/Beach_Hulk_08.png</string>
        <string>Beach/Beach_Hulk_09.png</string>
        <string>Beach/Beach_Hulk_10.png</string>
        <string>Beach/Beach_Hulk_11.png</string>
        <string>Beach/Beach_Hulk_12.png</string>
        <string>Beach/Beach_Hulk_13.png</string>
        <string>Beach/Beach_Hulk_14.png</string>
        <string>Beach/Beach_Hulk_15.png</string>
        <string>Beach/Beach_Hulk_16.png</string>
      </array>
      <key>animdelay</key>
      <real>0.05</real>
      <key>height</key>
      <real>80</real>
      <key>maxHp</key>
      <integer>700</integer>
      <key>defence</key>
      <integer>0</integer>
      <key>speed</key>
      <real>40</real>
      <key>money</key>
      <real>30</real>
    </dict>
    <key>Beach_Ironbull</key>
    <dict>
      <key>animpic</key>
      <array>
        <string>Beach/Beach_Ironbull_00.png</string>
        <string>Beach/Beach_Ironbull_01.png</string>
        <string>Beach/Beach_Ironbull_02.png</string>
        <string>Beach/Beach_Ironbull_03.png</string>
        <string>Beach/Beach_Ironbull_04.png</string>
        <string>Beach/Beach_Ironbull_05.png</string>
        <string>Beach/Beach_Ironbull_06.png</string>
        <string>Beach/Beach_Ironbull_07.png</string>
        <string>Beach/Beach_Ironbull_08.png</string>
        <string>Beach/Beach_Ironbull_09.png</string>
        <string>Beach/Beach_Ironbull_10.png</string>
        <string>Beach/Beach_Ironbull_11.png</string>
      </array>
      <key>animdelay</key>
      <real>0.05</real>
      <key>height</key>
      <real>55</real>
      <key>maxHp</key>
      <integer>3600</integer>
      <key>defence</key>
      <integer>20</integer>
      <key>speed</key>
      <real>50</real>
      <key>money</key>
      <real>400</real>
      <key>buffs</key>
      <array>
        <dict>
          <key>time</key>
          <real>120</real>
          <key>effects</key>
          <string>1.0,1.0,0.5,1.0,0.0,2.0</string>
          <key>flag</key>
          <integer>20</integer>
        </dict>
      </array>
    </dict>
    <key>Beach_Knight</key>
    <dict>
      <key>animpic</key>
      <array>
        <string>Beach/Beach_Knight_00.png</string>
        <string>Beach/Beach_Knight_01.png</string>
        <string>Beach/Beach_Knight_02.png</string>
        <string>Beach/Beach_Knight_03.png</string>
        <string>Beach/Beach_Knight_04.png</string>
        <string>Beach/Beach_Knight_05.png</string>
      </array>
      <key>animdelay</key>
      <real>0.05</real>
      <key>height</key>
      <real>55</real>
      <key>maxHp</key>
      <integer>600</integer>
      <key>defence</key>
      <integer>0</integer>
      <key>speed</key>
      <real>100</real>
      <key>money</key>
      <real>15</real>
    </dict>
    <key>Beach_Man</key>
    <dict>
      <key>animpic</key>
      <array>
        <string>Beach/Beach_Man_00.png</string>
        <string>Beach/Beach_Man_01.png</string>
        <string>Beach/Beach_Man_02.png</string>
        <string>Beach/Beach_Man_03.png</string>
        <string>Beach/Beach_Man_04.png</string>
        <string>Beach/Beach_Man_05.png</string>
        <string>Beach/Beach_Man_06.png</string>
        <string>Beach/Beach_Man_07.png</string>
        <string>Beach/Beach_Man_08.png</string>
        <string>Beach/Beach_Man_09.png</string>
        <string>Beach/Beach_Man_10.png</string>
        <string>Beach/Beach_Man_11.png</string>
      </array>
      <key>animdelay</key>
      <real>0.05</real>
      <key>height</key>
      <real>55</real>
      <key>maxHp</key>
      <integer>150</integer>
      <key>defence</key>
      <integer>0</integer>
      <key>speed</key>
      <real>70</real>
      <key>money</key>
      <real>10</real>
    </dict>
    <key>Beach_Master</key>
    <dict>
      <key>animpic</key>
      <array>
        <string>Beach/Beach_Master_00.png</string>
        <string>Beach/Beach_Master_01.png</string>
        <string>Beach/Beach_Master_02.png</string>
        <string>Beach/Beach_Master_03.png</string>
        <string>Beach/Beach_Master_04.png</string>
      </array>
      <key>animdelay</key>
      <real>0.05</real>
      <key>height</key>
      <real>55</real>
      <key>maxHp</key>
      <integer>300</integer>
      <key>defence</key>
      <integer>0</integer>
      <key>speed</key>
      <real>50</real>
      <key>money</key>
      <real>10</real>
      <key>buffs</key>
      <array>
        <dict>
          <key>time</key>
          <real>120</real>
          <key>effects</key>
          <string>1.0,1.0,1.0,1.0,0.0,15.0</string>
          <key>flag</key>
          <integer>4</integer>
        </dict>
      </array>
    </dict>
	</dict>
</plist>