<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Thunder Attack/Thunder_Attack_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{10,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,1},{10,58}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>Thunder Attack/Thunder_Attack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,14},{16,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{16,62}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>Thunder Attack/Thunder_Attack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,78},{14,62}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{14,62}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>Thunder Attack/Thunder_Attack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{26,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{26,64}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>Thunder Attack/Thunder_Attack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,14},{16,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{16,62}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>Thunder Tower/Thunder_Tower_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,142},{34,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{34,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Thunder Tower/Thunder_Tower_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{38,62}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{38,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Thunder Tower/Thunder_Tower_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,14},{40,62}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{40,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Thunder Tower/Thunder_Tower_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{36,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{36,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Thunder Tower/Thunder_Tower_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,78},{36,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{36,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Thunder Tower/Thunder_Tower_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{38,62}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{38,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Thunder_Picture.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63395e5a9832758087bfa2abd44d0cd8$</string>
            <key>textureFileName</key>
            <string>Thunder_Picture.png</string>
        </dict>
    </dict>
</plist>
