<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>stagename</key>
		<string>Stage 3</string>
		<key>background</key>
		<string>Map_Background_03.jpg</string>
		<key>tilemap</key>
		<string>map_03.tmx</string>
		<key>infinite</key>
		<false/>
		<key>waves</key>
		<array>
			<dict>
				<key>count</key>
				<integer>10</integer>
				<key>delay</key>
				<real>3</real>
				<key>enemies</key>
				<array>
					<string>Beach_Goblin</string>
				</array>
			</dict>
      <dict>
        <key>count</key>
        <integer>10</integer>
        <key>delay</key>
        <real>2</real>
        <key>enemies</key>
        <array>
          <string>Beach_Man</string>
        </array>
      </dict>
      <dict>
        <key>count</key>
        <integer>20</integer>
        <key>delay</key>
        <real>1</real>
        <key>enemies</key>
        <array>
          <string>Beach_Goblin</string>
          <string>Beach_Man</string>
        </array>
      </dict>
      <dict>
        <key>count</key>
        <integer>5</integer>
        <key>delay</key>
        <real>3</real>
        <key>enemies</key>
        <array>
          <string>Beach_Hulk</string>
        </array>
      </dict>
      <dict>
        <key>count</key>
        <integer>20</integer>
        <key>delay</key>
        <real>1</real>
        <key>enemies</key>
        <array>
          <string>Beach_Goblin</string>
        </array>
      </dict>
      <dict>
        <key>count</key>
        <integer>12</integer>
        <key>delay</key>
        <real>1</real>
        <key>enemies</key>
        <array>
          <string>Beach_Hulk</string>
          <string>Beach_Man</string>
        </array>
      </dict>
      <dict>
        <key>count</key>
        <integer>2</integer>
        <key>delay</key>
        <real>3</real>
        <key>enemies</key>
        <array>
          <string>Beach_Bull</string>
        </array>
      </dict>
      <dict>
        <key>count</key>
        <integer>10</integer>
        <key>delay</key>
        <real>1</real>
        <key>enemies</key>
        <array>
          <string>Beach_Hulk</string>
        </array>
      </dict>
      <dict>
        <key>count</key>
        <integer>10</integer>
        <key>delay</key>
        <real>2</real>
        <key>enemies</key>
        <array>
          <string>Beach_Knight</string>
        </array>
      </dict>
      <dict>
        <key>count</key>
        <integer>20</integer>
        <key>delay</key>
        <real>0.5</real>
        <key>enemies</key>
        <array>
          <string>Beach_Goblin</string>
          <string>Beach_Goblin</string>
          <string>Beach_Hulk</string>
        </array>
      </dict>
      <dict>
        <key>count</key>
        <integer>20</integer>
        <key>delay</key>
        <real>0.5</real>
        <key>enemies</key>
        <array>
          <string>Beach_Knight</string>
          <string>Beach_Man</string>
        </array>
      </dict>
      <dict>
        <key>count</key>
        <integer>5</integer>
        <key>delay</key>
        <real>2</real>
        <key>enemies</key>
        <array>
          <string>Beach_Flymen</string>
        </array>
      </dict>
      <dict>
        <key>count</key>
        <integer>20</integer>
        <key>delay</key>
        <real>0.5</real>
        <key>enemies</key>
        <array>
          <string>Beach_Knight</string>
          <string>Beach_Hulk</string>
        </array>
      </dict>
      <dict>
        <key>count</key>
        <integer>10</integer>
        <key>delay</key>
        <real>1.5</real>
        <key>enemies</key>
        <array>
          <string>Beach_Master</string>
        </array>
      </dict>
      <dict>
        <key>count</key>
        <integer>8</integer>
        <key>delay</key>
        <real>2</real>
        <key>enemies</key>
        <array>
          <string>Beach_Bull</string>
        </array>
      </dict>
      <dict>
        <key>count</key>
        <integer>20</integer>
        <key>delay</key>
        <real>0.5</real>
        <key>enemies</key>
        <array>
          <string>Beach_Master</string>
          <string>Beach_Hulk</string>
        </array>
      </dict>
      <dict>
        <key>count</key>
        <integer>3</integer>
        <key>delay</key>
        <real>3</real>
        <key>enemies</key>
        <array>
          <string>Beach_Dun</string>
        </array>
      </dict>
      <dict>
        <key>count</key>
        <integer>20</integer>
        <key>delay</key>
        <real>0.5</real>
        <key>enemies</key>
        <array>
          <string>Beach_Knight</string>
          <string>Beach_Hulk</string>
          <string>Beach_Master</string>
        </array>
      </dict>
      <dict>
        <key>count</key>
        <integer>15</integer>
        <key>delay</key>
        <real>1.5</real>
        <key>enemies</key>
        <array>
          <string>Beach_Bull</string>
        </array>
      </dict>
      <dict>
        <key>count</key>
        <integer>15</integer>
        <key>delay</key>
        <real>1</real>
        <key>enemies</key>
        <array>
          <string>Beach_Flymen</string>
        </array>
      </dict>
      <dict>
        <key>count</key>
        <integer>5</integer>
        <key>delay</key>
        <real>2</real>
        <key>enemies</key>
        <array>
          <string>Beach_Dun</string>
        </array>
      </dict>
      <dict>
        <key>count</key>
        <integer>2</integer>
        <key>delay</key>
        <real>5</real>
        <key>enemies</key>
        <array>
          <string>Beach_Ironbull</string>
        </array>
      </dict>
		</array>
	</dict>
</plist>
